<%= form_for entry do |f| %>

<h4><%= f.label :word %></h4>
<h4><%= f.text_field :word %></h4>

<h4><%= f.label :definition %></h4>
<h4><%= f.text_field :definition %></h4>

<h4><%= f.label :language %></h4>
<h4><%= f.text_field :language %></h4>

<h4><%= f.submit %></h4>

<% end %>
